*.iml
.gradle
/local.properties
/.idea/
.idea/
/build/
/captures
.externalNativeBuild
.cxx
local.properties
/VK/
/IcyMath/

# Signing material must never be committed
*.jks
*.keystore
keystore.properties
signing.properties
